<ion-view>
    <div class="avatar-section">
        <div ng-if="user.getUser().name" class="avatar-content">
            <div class="avatar-wrap" ng-click="$state.go('tab.profile')">
              <p><img class="avatar" ng-src="{{user.getUser().image}}" alt=""></p>
              <p ng-if="user.getUser().name" class="user dark">{{user.getUser().name}}</p>
            </div>
        </div>
        <div ng-click="showAuthBox()" ng-if="!user.getUser().name" class="avatar-content">
          <div class="avatar-wrap">
            <p><img class="avatar" ng-src="{{user.getUser().image}}" alt=""></p>
            <p ng-if="!user.getUser().name" class="login-btn">登录</p>
          </div>
       </div>

    </div>

  <ion-content class="account-view" style="top:150px" overflow-scroll='false' delegate-handle="userDetailContent" on-scroll="onUserDetailContentScroll()" header-shrink scroll-event-interval="5">
    <ion-list>
      <div class="list">

        <a class="item item-icon-left item-icon-right" href="#/favors">
          <i class="icon ion-ios-star-outline"></i>
          收藏
          <i class="icon ion-ios-arrow-right"></i>
        </a>

        <a class="item item-icon-left item-icon-right" href="#/cart">
          <i class="icon icon ion-ios-cart-outline"></i>
          购物车
          <i class="icon ion-ios-arrow-right"></i>
        </a>

        <a class="item item-icon-left item-icon-right" href="#/orders">
          <i class="icon ion-ios-list-outline"></i>
          我的订单
          <i class="icon ion-ios-arrow-right"></i>
        </a>

        <a class="item item-icon-left item-icon-right" href="#/address/list">
          <i class="icon ion-pin"> </i>
          地址管理
          <i class="icon ion-ios-arrow-right"></i>
        </a>

        <a class="item item-icon-left item-icon-right" href="#/settings">
          <i class="icon ion-ios-gear-outline"></i>
          设置
          <i class="icon ion-ios-arrow-right"></i>
        </a>
      </div>
    </ion-list>
    <div style="margin-top:50px;text-align:center">
      <button class="button button-assertive button-outline"
        ng-if="user.getUser().name"
        style="padding:0 50px; border:1px solid #6fd6b9"
        ng-click="logout()"
       >
         退出当前账户
       </button>
       <button class="button button-assertive"
         ng-if="!user.getUser().name"
         style="padding:0 50px;"
         ng-click="showAuthBox()"
        >
          登录
        </button>
    </div>
  </ion-content>

</ion-view>
