<!-- 地址栏 -->
<ion-view>
    <div class="bar bar-header">
        <button class="button button-clear icon ion-ios-arrow-back" ng-click="$ionicGoBack()"></button>
        <div class="title">选择地址</div>
    </div>

    <ion-content class="has-header">
        <section>
            <div class="address-select-info" ng-show="addresses.length != 0">
                <div class="address-row" ng-repeat="addr in addresses track by $index" ng-click="selectAddress(addr)" ng-class="addr.flag? 'address-selected' : ''">
                    <div class="address-info-1">
                        <div class="row">
                            <div class="col">{{addr.name}}</div>
                            <div class="col" style="text-align: right">{{addr.phone}}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{addr.detail}}</div>
                        </div>
                    </div>
                    <div class="address-operate row">
                        <div class="col col-60">
                            <i class="icon ion-ios-circle-outline" ng-if="!addr.flag"></i>
                            <i class="icon ion-ios-checkmark-outline" ng-if="addr.flag"></i>
                            <span ng-if="addr.flag">已选择</span>
                            <span ng-if="!addr.flag">选择该地址</span>
                        </div>
                        <div class="col">
                            <i class="icon ion-ios-compose-outline" style="width:16px"></i>
                            <a href address-form addr-id="addr.id" addresses="addresses">修改地址</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="address-select-info" address-form addresses="addresses">
                <div class="address-row">
                    <div style="padding:10px">
                        <div class="">新增收件地址</div>
                    </div>
                    <div class="go-add">+</div>
                </div>

            </div>
        </section>

    </ion-content>

    <ion-footer-bar class="bar-assertive footer-button" ng-click="confirmAddress()">
        <div class="title" style="text-align:center">确定</div>
    </ion-footer-bar>
</ion-view>
