<ion-view class="appIndex">
    <div class="bar bar-header">
        <!-- <button class="button button-clear icon ion-ios-arrow-back" ng-click="$ionicGoBack()"></button> -->
        <div class="title">4.0</div>
    </div>
    <ion-content class="has-header content" style="background-color: #F8F8F8">
        <div scroll-height rate="35/75">
            <ion-slide-box class="indexSlide"  auto-play="true" does-continue="true" slide-interval="3000" on-slide-changed="slideChanged($index)" delegate-handle="delegateHandler"
                ng-click="coverFlowClick()">
                <ion-slide ng-repeat="item in bannerList track by $index" repeat-done="repeatDone()">
                    <div class="box">
                        <img ng-src="{{item.imgUrl}}" />
                    </div>
                </ion-slide>
            </ion-slide-box>
        </div>
        <div class="chooseTypes">
            <div class="chooseType" style="width:16%" ng-click="goto(item.url)" ng-repeat="item in types track by $index">
                <div scroll-height rate="0.16/1" class='icon1 {{item.pic}}' style='width:100%;background-size: 100% 100%'></div>
                <span style="z-index:2;margin-top: 10px">{{item.name}}</span>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-subfooter bar-stable" id="index-footer">
        <div class="chooseType" ng-click="goto('scan')">
            <div class='icon1 category'></div>
            <span>扫一扫</span>
        </div>
    </div>
</ion-view>