<!-- 商品列表 -->
<ion-view>
    <div class="bar bar-header">
        <button class="button button-clear icon ion-ios-arrow-back" ng-click="$ionicGoBack()"></button>
        <div class="title">收藏商品</div>
    </div>
    <ion-content class="has-header homepage">
        <table class="table ngCart cart-table">
            <tr ng-repeat="item in items track by $index">

                <td class="img-cell" ng-click="goItem(item.id)">
                    <div>
                        <a href="#">
                            <img ng-src="{{item.mainUrl}}" cache-src>
                        </a>
                    </div>
                </td>
                <td class="info-cell" ng-click="goItem(item.id)" style="padding-left:30px">
                    <div>{{ item.name }}</div>
                    {{ item.price | currency:'￥' }}
                </td>
                <td class="price-cell favorIcon" style="vertical-align: bottom;padding-bottom:10px;padding-right: 15px;">
                    <span style="float:right;font-size:20px;">
                        <i class="icon ion-ios-star like-icon energized"
                            ng-click="unfavor(item)"></i>
                        <i class="icon ion-ios-cart-outline dark"
                            ng-click="addToCart(item)"
                            style="margin-left:10px;"
                            ></i>
                    </span>
                </td>
            </tr>
        </table>

        <!-- <div class="col col-50 animated fadeIn" collection-repeat="item in items track by $index">
            <div class="item item-image" ng-click="goItem(item.id)">
                <img ng-src="{{item.mainUrl}}" cache-src>
            </div>
            <div class="item item-text-wrap" href="#">
                <h2 class="product-title" style="overflow: hidden;" ng-click="goItem(item.id)">{{item.name}}</h2>
                <p class="product-prices">
                    <span class="curr-price">{{item.price | currency:'￥'}}</span>
                    <span style="float:right;font-size:16px;">
                      <i class="icon ion-ios-star like-icon energized"
                          ng-click="unfavor(item)"></i>
                      <i class="icon ion-ios-cart"
                        ng-click="addToCart(item)"
                        style="margin-left:5px;"
                        ></i>
                    </span>
                </p>
            </div>
        </div> -->
    </ion-content>
</ion-view>