<ion-view>
    <div class="bar bar-header">
        <button class="button button-clear icon ion-ios-arrow-back" ng-click="goTab()"></button>
        <div class="title">订单详情</div>
    </div>

    <ion-content class="has-header">

        <section class="orders">
            <div class="checkout-info">
                <div class="address-info-1">
                    <div class="row">
                        <div class="col">收货人：{{order.receiptName}}</div>
                        <div class="col" style="text-align:right">{{order.receiptPhone}}</div>
                    </div>
                    <div class="row">
                        <div class="col">收货地址：{{order.receiptDetail}}</div>
                    </div>
                </div>
            </div>
        </section>

        <section class="clearfix" ng-cloak>
            <div class="">
                <table class="table ngCart cart-table">
                    <tbody>
                        <tr ng-if="isShop" ng-repeat="entry in order.detailList track by $index">
                            <td class="img-cell">
                                <div>
                                    <img ng-src="{{entry.maProImg}}">
                                </div>
                            </td>
                            <td class="info-cell">
                                <div>{{ entry.maProName }}</div>
                            </td>
                            <td class="price-cell">
                                {{ entry.dealPrice | currency:"￥" }}
                                <div style="color:#333">
                                    <span>x {{ entry.num | number }}</span>
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="!isShop">
                            <td class="img-cell">
                                <div>
                                    <img ng-src="{{order.auProImg}}">
                                </div>
                            </td>
                            <td class="info-cell" style="width:80%;color:#333">
                                <div>订单号：{{ order.code }}</div>
                                <div>起拍价：{{ order.beginPrice | currency:""}} 元</div>
                                <div>成交价：{{ order.dealPrice | currency:""}} 元</div>
                                <div>成交时间：{{ order.createTime }}</div>
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section>
            <div class="checkout-info">
                <div class="partner-info" style="margin-left: 8px;">
                    <div class="selected-partner">快递方式:{{order.trackingTypeStr}}
                        <span class="detail-price pull-right">{{order.trackingAmount | currency:'￥' }}</span>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <!-- <div class="checkout-info">
    <div class="item-info-table">
        <dl class="item-info-field">
            <dt class="">商品总价: </dt>
            <dd class="detail-price">{{ngCart.getSubTotal() | currency:'￥' }}</dd>
        </dl>
        <dl class="item-info-field">
            <dt class="">运费: </dt>
            <dd class="detail-price">{{order.trackingAmount | currency:'￥' }}</dd>
        </dl>
    </div>
</div> -->
            <div class="order-bottom">
                <div class="">
                    订单号：{{order.code}}
                </div>
                <div class="">
                    创建时间: {{order.createTime}}
                </div>
                <div class="energized" ng-if="order.status=='0' && isShop">
                    剩余支付时间:
                    <timer end-time="order.endTime" finish-callback="finished(order.id)">{{minutes}}分{{seconds}}秒</timer>
                </div>
            </div>
        </section>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-stable">
        <a class="button button-clear">
        总计: <span class="footer-price"> {{ order.totalAmount |currency:'￥'}}</span>
    </a>
        <h1 class="title"></h1>
        <div class="buttons orderButtons">
            <ngcart-checkout ng-if="order.status=='0'" settings="{ order_id: order.id , order_type: 'existed'}" ordertype="existed" orderid={{order.id}}>
                付款
            </ngcart-checkout>
            <a class="button button-default" style="border:1px solid #aaa" ng-href="#/order/logistics/{{order.code}}" ng-if="order.status=='1' || order.status=='2'">
                查看物流
            </a>
            <button class="button button-energized" ng-click="doneOrder()" ng-if="order.status=='1' || order.status=='2'">
                确认收货
            </button>
            <button class="button button-default" style="border:1px solid #aaa" ng-click="cancelOrder()" ng-if="order.status=='0' && isShop">
                取消订单
            </button>
            <button class="button button-energized" ng-click="delOrder()" ng-if="order.status=='3'">
                删除订单
            </button>
        </div>
    </ion-footer-bar>
</ion-view>