<!-- 商品详情 -->

<ion-view class="pitem">
    <div class="buttons">
        <button class="button button-clear icon ion-ios-arrow-back item-header-button" ng-click="$ionicGoBack()"></button>
    </div>

    <ion-content class="item-page has-footer">
        <div scroll-height rate="1/2" style="position: relative;">
            <ion-slide-box delegate-handle="image-viewer" ng-style="{'padding-top':(item.detailList.length?'0':'100%')}" style="height:100%">
                <ion-slide ng-repeat="img in item.detailList track by $index">
                    <img ng-src="{{ img.imgUrl }}" />
                </ion-slide>
            </ion-slide-box>
            <div class="hover-slideImg" style="left:0;right:0;bottom:0">
                <i class="icon ion-ios-clock-outline" style="font-size:14px;"></i>
                
                <span>{{beginPM&&!endPM ? "正在进行": ""}}</span>
                <span ng-if="!beginPM && !endPM">
                    {{item.beginTime | date : 'yyyy-MM-dd HH:mm:ss'}} 开始
                </span>
                <span ng-if="beginPM && !endPM">
                    <timer end-time="endTime" finish-callback="finishPMFunc(order.id)">
                        {{days? (days+'天') : ''}}{{hours}}小时{{minutes}}分{{seconds + 1}}秒后结束
                    </timer>
                </span>
                <span ng-if="endPM">
                    {{item.endTime | date : 'yyyy-MM-dd HH:mm:ss'}} 已结束
                </span>
            </div>
        </div>

        <ion-item class="item item-details detail1">
            <div class="item-title">
                {{item.name}}
            </div>
            <div class="product-prices">
                当前价格：<span style="color:red">{{ item.nowPrice | currency:'￥' }}</span>
            </div>
        </ion-item>
        <ion-item class="item item-details detail2">
            <div>
                报名：<span>{{item.applyNum}}</span>人
            </div>
            <div>
                设置提醒：<span>{{item.alertNum}}</span>人
            </div>
            <div>
                围观：<span>{{item.favoriteNum}}</span>次
            </div>
        </ion-item>
        <ion-item class="item item-details detail3">
            <div>
                起拍价：<span>{{item.beginPrice | currency:'￥'}}</span>
            </div>
            <div>
                加价幅度：<span>{{item.rangePrice | currency:'￥'}}</span>
            </div>
        </ion-item>
        <ion-item class="item item-details detail4">
            <div ng-repeat="child in priceList track by $index" class="list">
                <span>{{child.vipName}}</span>
                <span>{{child.createTime | date : 'yyyy-MM-dd HH:mm:ss'}}</span>
                <span>{{child.bidPrice}}</span>
            </div>
        </ion-item>
        <div>
        <!-- <div style='display: none;opacity: 0;'> -->
            <timer end-time="beginTime" finish-callback="beginPMFunc(order.id)">{{minutes}}分{{seconds}}秒</timer>
            <div>{{beginPM}}{{endPM}}</div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-light item-bottom-bar" ng-if="!showPrice || !beginPM || endPM">
        <a ng-click="favor('0',item.favoriteFlag,'favoriteFlag')" class="only-btn" style="margin-right:3px">
            <i class="icon" ng-class="{'like-icon energized ion-ios-heart':item.favoriteFlag, 'dark ion-ios-heart-outline':!item.favoriteFlag}"></i>
            <span>关注</span>
        </a>
        <a ng-click="favor(2,item.alertFlag,'alertFlag')" class="only-btn" style="margin-left:3px">
            <i class="icon" ng-class="{'like-icon energized ion-ios-cart':item.alertFlag, 'dark ion-ios-cart-outline':!item.alertFlag}"></i>
            <span>设置提醒</span>
        </a>
        <a ng-if="!beginPM && !endPM" class="add-to-cart item-bar-icon" ng-click="showFalse(0)">
            敬请期待
        </a>
        <a ng-if="beginPM && !endPM" class="buy-rightnow item-bar-icon" ng-click="joinJP()">
            参加竞拍
        </a>
        <a ng-if="endPM" class="add-to-cart item-bar-icon" ng-click="showFalse(1)">
            拍卖结束
        </a>
    </div>
    <div class="bar bar-footer bar-light item-bottom-bar" ng-if="showPrice && beginPM && !endPM">
        <div class="spec-options-table " style="width:70%">
                <div class="spec-info-field " style="line-height: 44px;">
                    <dd class="spec-info-val " style="margin:0 auto;line-height: inherit">
                        <div class="btn-group ">
                            <button class="btn del-num " ng-click="setQuantity(-1, true) ">-</button>
                            <button class="btn num " style="width:98px">{{quantity | currency:'￥'}}</button>
                            <button class="btn add-num " ng-click="setQuantity(1, true) ">+</button>
                        </div>
                    </dd>
                </div>
            </div>
        <a class="buy-rightnow item-bar-icon" ng-click="addPrice()">
            出  价
        </a>
    </div>
</ion-view>