<!-- 商品列表 -->
<ion-view>
    <div class="bar bar-header">
        <button class="button button-clear icon ion-ios-arrow-back" ng-click="$ionicGoBack()"></button>
        <div class="title">拍卖记录</div>
    </div>
    <ion-content class="has-header homepage">
        <table class="table ngCart cart-table">
            <tr ng-repeat="item in items track by $index">

                <td class="img-cell" ng-click="goItem(item.id)">
                    <div>
                        <a href="#" style="position: relative;">
                            <img ng-src="{{item.mainUrl}}" cache-src>
                        </a>
                    </div>
                </td>
                <td class="info-cell" ng-click="goItem(item.id)">
                    <div style="margin-bottom: 5px;">{{ item.auProName }}</div>
                    <div style="margin-bottom: 5px;">成交价：<span>{{ item.price | currency:'￥' }}</span></div>
                    <div style="margin-bottom: 5px;">成交时间：<span>{{ item.createTime | date : 'yyyy-MM-dd'}}</span></div>
                    <span style="float:right;font-size:14px;margin-right: 8px;color:#ff3000">
                        {{item.status ? "竞拍成功": "竞拍失败"}}
                    </span>
                </td>
            </tr>
        </table>

        <div class="" ng-if="!items.length">
            <div scroll-height rate="1/2" class='icon2 rec' style='width:100%;background-size: 30% 60%'>
                <p class="title">暂无记录</p>
            </div>
        </div>
    </ion-content>
</ion-view>