<ion-view>
    <div class="bar bar-header">
        <button class="button button-clear icon ion-ios-arrow-back" ng-click="$ionicGoBack()"></button>
        <div class="title">扫码开锁</div>
    </div>
    <ion-content class="has-header account">
        <div>
            <img style="width:100%" src="http://www.guandongphoto.com/data/attachment/forum/201804/27/023630bpyfwaljwpwpenny.jpg" alt="">
        </div>
        <div style="margin-top:50px;text-align:center">
            <button class="button button-assertive" ng-click="confirmOpen()" style="width:60%">
             获取开锁密码
           </button>
        </div>
    </ion-content>
</ion-view>