<ion-view>
    <div class="bar bar-header">
        <button class="button button-clear icon ion-ios-arrow-back" ng-click="$ionicGoBack()"></button>
        <div class="title">扫码开锁</div>
    </div>
    <ion-content class="has-header account" ng-if="!showImg">
        <div style="display:flex;flex-direction:row" ng-if="getDetail">
            <img style="height:150px;width:150px;" ng-src="{{imgUrl}}" alt="">
            <div style="display: flex;flex-direction: column;flex:1;justify-content: space-between;margin: 10px;font-size: 16px;letter-spacing:2px;font-family: -apple-system">
                <p>
                    <div class="sacnDetailSpan">
                        <span class="sacnDetailSpan1">名</span>
                        <span class="sacnDetailSpan1">称</span>
                    </div>：{{data.proName}}
                </p>
                <p>
                    <div class="sacnDetailSpan">
                        <span class="sacnDetailSpan1">酒</span>
                        <span class="sacnDetailSpan1">精</span>
                        <span class="sacnDetailSpan1">度</span>
                    </div>：{{data.proDu}}%vol
                </p>
                <p>
                    <div class="sacnDetailSpan">
                        <span class="sacnDetailSpan1">酒</span>
                        <span class="sacnDetailSpan1">龄</span>
                    </div>：{{data.storage}}
                </p>
                <p>
                    <div class="sacnDetailSpan">
                        <span class="sacnDetailSpan1">密</span>
                        <span class="sacnDetailSpan1">码</span>
                    </div>：{{data.pwdFlagStr}}
                </p>
            </div>
        </div>
        <div style="margin-top:50px;text-align:center">
            <button class="button button-assertive" ng-if="showOpen" ng-click="getCode()" style="width:60%">
                获取开锁密码
           </button>

            <div ng-if="showCode">
                <p style="font-size:18px;letter-spacing:10px">开锁密码</p>
                <div style="margin-bottom:20px">
                    <button class="button button-assertive">{{openCode[0]}}</button>
                    <button class="button button-assertive">{{openCode[1]}}</button>
                    <button class="button button-assertive">{{openCode[2]}}</button>
                    <button class="button button-assertive">{{openCode[3]}}</button>
                </div>
                <p style="font-size:18px;">第<span class="energized">{{num}}</span>次获取开锁密码</p>
                <p class="energized" ng-click="$state.go('scanDetail')">查看扫码记录</p>
            </div>

            <div ng-if="alreadyShow">
                <p>您已获取过开锁密码</p>
                <p>开锁密码为：{{password}}</p>
            </div>
        </div>
    </ion-content>
    <ion-content class="has-header account" ng-if="showImg">
        <img style="width:100%" ng-src="{{imgSrc}}">
    </ion-content>
</ion-view>
