<ion-view>
    <div class="bar bar-header">
        <button class="button button-clear icon ion-ios-arrow-back" ng-click="$ionicGoBack()"></button>
        <div class="title">我的会员</div>
    </div>
    <ion-content class="has-header account">
        <ion-list>
            <ion-item class="item item-icon-right" ng-click="$state.go('vipCenter')">
                会员中心
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item item-icon-right" ng-click="$state.go('pointsDetail')">
                积分明细 
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item item-icon-right" ng-click="setVIPCardBox()">
                绑定会员卡
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>