<!-- 地址栏 -->
<ion-view>
    <div class="bar bar-header">
        <button class="button button-clear icon ion-ios-arrow-back" ng-click="$ionicGoBack()"></button>
        <div class="title">会员中心 </div>
    </div>

    <ion-content class="has-header" style="background-color: #f7f7f7">
        <section class="vipCenter">
            <div class="avatar-wrap">
                <div class="title">
                    <img class="avatar" ng-src="{{userCenter.image}}" alt="">
                    <div class="level">{{userCenter.levelStr}}会员</div>
                </div>
            </div>
            <div class="vipCard" ng-style='cardColor'>
                <div scroll-height rate="73/135" class='card1' ng-class="cardStyle">
                    <div class="cardPoints">
                        <div>当前积分</div>
                        <div class="cardp">{{userCenter.integral}}</div>
                    </div>
                    <div class="cardNum">NO. {{userCenter.num}}</div>
                </div>
            </div>
            <div class="description">
                <img ng-src="{{userCenter.vipCardDetailUrl}}" />
                <img src="http://d.ifengimg.com/mw978_mh598/p1.ifengimg.com/2018_37/cd66782f-7c54-43d7-a653-17a1a9fc1896_E81F55FE30D27B46215407029C747F88ED77CF56_w1024_h768.jpg" />
            </div>
        </section>

    </ion-content>

    
</ion-view>