// 修改全局弹窗样式
.popup-container .popup {
    border-radius: 5px;
}

.popup-head {
    padding: 0;
    text-align: center;
    vertical-align: middle;
    border: 0 none;
}

.popup-body {
    padding: 0;
    min-height: 100px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popup-buttons {
    padding: 0;
    min-height: 45px;
    border-top: 1px solid #aaa;
}

.isX {
    margin-top: 20px;
}

.modal .title {
    text-align: center!important;
}

.button-assertive {
    background-color: $assertive
}

.button-energized {
    background-color: $energized
}

.loginTab {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    .loginTabName {
        font-size: 16px;
        padding: 10px;
        border-bottom: 1px solid $assertive;
        &.isSelected {
            border-bottom: 3px solid $assertive;
        }
    }
}

.codeBtn {
    background-color: #fff;
    border: 1px solid #6fd6b9 !important;
    margin: 0 !important;
    padding: 0px 10px !important;
    height: 32px;
    min-height: 20px !important;
    min-width: 80px !important;
    line-height: 32px;
    font-size: 12px;
}

.disableCodeBtn {
    border: 1px solid #eee!important;
}

.appIndex {
    .indexSlide {
        height: 100%;
        .box {
            img {
                height: 100%;
                width: 100%;
            }
        }
    }
    .chooseTypes {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 50px;
        .chooseType {
            display: flex;
            flex-direction: column;
            text-align: center;
            .icon {
                font-size: 50px;
                color: $energized;
                padding: 5px;
            }
        }
    }
    .icon1 {
        vertical-align: middle;
        width: 36px;
        height: 36px;
        display: block;
        margin: 0 auto;
        &.category {
            background: url("../img/icons/category.png") no-repeat;
            background-size: 36px;
        }
        &.calculate {
            background: url("../img/icons/calculate.png") no-repeat;
            background-size: 36px;
        }
        &.limit {
            background: url("../img/icons/limit.png") no-repeat;
            background-size: 36px;
        }
        &.send {
            background: url("../img/icons/send_list.png") no-repeat;
            background-size: 36px;
        }
    }
}

.cateHomeSlide {
    height: 100%;
    margin-bottom: 10px;
    .box {
        img {
            height: 100%;
            width: 100%;
        }
    }
}

.itemCart {
    bottom: 0;
    .popup {
        height: 250px;
        bottom: 0;
        position: absolute;
        width: 100%;
    }
}

.item-icon-left,
.item-icon-right {
    .icon {
        font-size: 26px;
    }
}

.addressForm {
    .input-label {
        width: 75px;
    }
}

.item-bottom-bar {
    padding: 0;
    display: flex;
    border-bottom: 0 none!important;
    .only-btn {
        margin: 4px 10px;
        width: 40px;
        text-align: center
    }
    i.icon {
        font-size: 20px;
        display: block;
        text-align: center;
        &::before {
            font-weight: bold;
        }
    }
    span {
        font-size: 12px;
        font-weight: 600;
    }
    .item-bar-icon {
        flex: 1;
        text-align: center;
        color: #fff;
        line-height: 44px;
        font-size: 14px;
    }
    .add-to-cart {
        background-color: #aaa
    }
    .buy-rightnow {
        background-color: $energized;
    }
}

.aliIcon {
    height: 30px;
    background-color: black;
    vertical-align: middle;
}

.item-thumbnail-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.spec-info-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.itemCart .popup {
    height: 230px;
}

.itemTab {
    padding-bottom: 13px;
    padding-top: 15px;
    padding-left: 45px;
    font-weight: 600;
    font-size: 14px;
    .icon {
        font-size: 20px;
        font-weight: bold;
        left: 7px;
        &::before {
            font-weight: bold;
        }
    }
    .ion-ios-arrow-right {
        color: #ddd;
        font-size: 26px;
        &::before {
            font-weight: normal;
        }
    }
}

.orderButtons Button {
    margin-left: 5px;
}

.orderTimer {
    display: block;
    float: left;
    color: $energized;
    line-height: 30px;
}

.bar .button-clear {
    &::before {
        font-size: 24px!important;
    }
}

.tab-item {
    .icon {
        height: 28px;
        &::before {
            font-size: 26px;
            font-weight: 600;
        }
    }
    span {
        font-weight: bolder;
    }
}

.favorIcon {
    i {
        &::before {
            font-weight: 600;
        }
    }
}

.bar-header {
    //适配iPhoneX
    /* Status bar height on iOS 11.0 */
    // top: constant(safe-area-inset-top);
    // // padding-bottom: constant(safe-area-inset-bottom);
    // /* Status bar height on iOS 11+ */
    // top: env(safe-area-inset-top);
    // padding-bottom: env(safe-area-inset-bottom);
    .icon.ion-ios-arrow-back {
        &::before {
            font-size: 20px!important;
            color: #b2b2b2!important;
        }
    }
}

.view-container {
    background-color: #f8f8f8!important;
}

.orderCheckBtn {
    display: inline-block;
    Button {
        min-height: 30px;
        line-height: 32px;
        font-size: 12px;
        padding: 0;
    }
}

.item-input-inset .item-input-wrapper input {
    font-size: 16px;
}

#index-footer {
    bottom: 0;
    border-bottom: 0 none;
    background: url("../img/icons/index_bg.png") no-repeat #F8F8F8;
    background-size: 100% 100%;
    min-height: 190px;
    text-align: center;
    .chooseType {
        display: inline-block;
        padding-top: 35px;
        .icon1 {
            height: 90px;
            width: 80px;
            background-size: 80px;
        }
    }
}

.pm-index {
    .item-image {
        position: relative;
    }
}
.hover-slideImg {
    color: #FFF;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.5);
    left: 5px;
    bottom: 10px;
    right: 5px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    text-align: left;
    padding: 0 5px;
}

.pitem {
    .slider-pager{
        bottom:30px;
    }
    .item{
        border-color: #EAEAEA;
        margin: 10px -1px;
    }
    .detail2, .detail3{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        font-size:15px;
    }
    .detail4{
        padding:0;
        border-bottom:1px solid #EAEAEA;
        flex-direction: column;
        .list{
            padding: 10px 16px;
            margin: 0;
            border-bottom: 1px solid #EAEAEA;
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            &:first-child{
                color:red;
            }
            &:last-child{
                border-bottom: 0 none;
            }
        }
    }
    .only-btn{
        width:20%;
    }
}
.vipCenter{
    padding:20px;
    .title{
        display: flex;
        margin-bottom: 20px;
        .avatar {
            width: 40px;
            height: 40px;
        }
        .level{
            height: 40px;
            line-height: 40px;
            margin-left: 20px;
            display: inline-block;
        }
    }
    .vipCard{
        .card1{
            position: relative;
            &.level0{
                background: url("../img/vipCard/cardNormal.jpg") no-repeat;
                background-size: 100% 100%;
            }
            &.level1{
                background: url("../img/vipCard/cardGold.jpg") no-repeat;
                background-size: 100% 100%;
            }
            &.level2{
                background: url("../img/vipCard/cardWhitegold.jpg") no-repeat;
                background-size: 100% 100%;
            }
            &.level3{
                background: url("../img/vipCard/cardDimond.jpg") no-repeat;
                background-size: 100% 100%;
            }
            .cardPoints{
                position: absolute;
                left: 9%;
                top:5%;
                .cardp{
                    margin-top: 10px;
                    font-size: 37px;
                }
            }
            .cardNum{
                position: absolute;
                right: 10%;
                bottom: 15%;
                font-size: 12px;
            }
        }
    }
    .description{
        padding:10px;
        img{
            width: 100%;
        }
    }
}
.usePoints{
    display: flex;
    padding: 5px;
    line-height: 30px;
    .spec-info-field{
        margin-left: 10px;
    }
    .num{
        width: 50px!important;
        text-align: center;
    }
}